html {
    font-size: 10px;
}

body {
    background-color: var(--black);
}

/*HEADER*/

.header-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;    
    background-color: var(--header-gray);
    height: 8rem;
    width: 100%;
    padding: 0 20rem;

}

.header-links {
    color: var(--light-gray);
    font-family: 'Gotham HTF Book';
    font-size: 1.5rem;
    padding: 0 4rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    transition: .2s;
}

#header-btn {
    font-family: 'Gotham HTF Book';
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 0;
    text-align: center;
    border: 2px solid var(--magenta);
    transition: .2s;
    text-transform: uppercase;
    background-color: var(--magenta);
    width: 15rem;
    color: var(--white);
}

.header-nav {
    display: flex;
}

#header-btn:hover {
    box-shadow: 0 0 20px var(--magenta);

}

.header-links:hover {
    color: var(--magenta);
    text-shadow: 0 0 20px rgba(237, 20, 91, 0.5);
}


/*HERO SECTION */

.hero-section  {
    background-image: url(../img/header.png);
    background-position: center;    
    height: 110vh;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    
    
}

.hero-container {
    font-family: 'Gotham HTF Book';
    color: var(--light-gray);    
    text-transform: uppercase;    
    margin-top: 32rem;     
        
}

.hero-section h1 {
    font-size: 6rem;    
    margin: 1.2rem 0;
    
}

.hero-section h2 {
    font-size: 4rem;    
    
}

.hero-scroll {
    margin-bottom: 20rem;    
    height: 10rem;
}

.hero-scroll p {
    font-size: 1.1rem;      
    color: var(--light-gray);  
    text-transform: uppercase;  
    margin-bottom: 3rem;  
}

#hero-arrow {
    border: 0.1rem solid var(--magenta);
    width: 10rem;
    height: 10rem;
    
}

#hero-btn {
    margin-bottom: 12rem;
    
}

.btn-container {
    margin: 0 auto;
    font-family: 'Gotham HTF Book';
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 0;
    text-align: center;
    border: 2px solid var(--magenta);
    color: var(--magenta);
    transition: .2s;
    text-transform: uppercase;
    width: 18rem;
    text-align: center;
}

.btn-container:hover {
    background-color: var(--magenta);
    text-shadow: 0 0 20px rgba(237, 20, 91, 0.5);
    color: var(--black);    
}

#hero-i {
    color: var(--magenta);
    font-size: 40px;
}

/*SECTION CURSO */

.section-curso {
    display: flex;
    margin: 0 auto; 
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.section-curso-left {
    width: 30%; 
    margin-right: 10rem;
    
    
}

#curso-title { 
    color: var(--light-gray);
    text-transform: uppercase;
    font-size: 5rem;
    font-family: 'Gotham HTF Book';
    margin-bottom: 6rem;
    font-weight: 500;
}

#curso-paragrafo {    
    color: var(--light-gray);
    font-size: 1.6rem;    
    font-family: 'Roboto';
    line-height: 3rem;
    border-right: 0.5px solid var(--gray);
    padding-right: 5rem;   
    
}

.section-curso-right {
    width: 24%;
    height: 20vh;
    margin-bottom: 10rem;
    
}

.title-magenta {
    color: var(--magenta);
    font-size: 1.6rem;
    text-transform: uppercase;
}

#curso-subtitulo {
    font-family: 'Gotham HTF Book';
    margin-top: 5rem;    
}


.paragrafo-container {
    font-family: 'Roboto';
    color: var(--gray);
    font-size: 1.6rem;
    line-height: 3rem;
    margin: 4rem 0; 
    
}

/*MATRIZ CURRICULAR */

.section-matriz {
    width: 95rem;
    margin: 20rem auto;
}

.title-container {
    font-family: 'Gotham HTF Medium';
    font-weight: 500;
    font-size: 4.5rem;
    text-transform: uppercase;
    color: var(--light-gray);
}

.matriz-container {
    display: flex;
    margin: 1.5rem 0;
}

.matriz-line {    
    height: 1px;
    width: 74px;
    background-color: var(--gray);    
    margin: 17px 14px 0 0;
}

.matriz-subtitle {
    font-family: 'Gotham HTF Book';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: var(--gray);
    margin-bottom: 85px;
}

/* MATRIZ ACCORDION */

.accordion {    
    width: 100%;
    height: 9rem;
    border: 1px solid var(--gray);
    cursor: pointer;    
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    min-height: 9rem;
 }

.matriz-accordion-title {
    font-family: 'Roboto';
    color: var(--light-gray);
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.5rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.matriz-descricao {
    font-family: 'Roboto';
    color: var(--gray);
    font-size: 1.6rem;
    line-height: 3rem;
    margin: 4rem 0; 
}

.matriz-circle {
    display: flex;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 2px solid var(--magenta);
    border-radius: 100%;
}

#matriz-i {
    color: var(--magenta);
    margin: 0 auto;
}



/* SECTION TURMAS (TABELAS) */

.turmas {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.turmas-table {    
    margin: 5rem 0;
    width: 95rem;
    height: 216px;
    text-align: center;
}

.turmas-title-line {
    width: 40px;
    height: 4px;
    margin: 25px auto;
    background-color: var(--magenta);
}

.turmas-table-header {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--light-gray);
    font-family: 'Gotham HTF Medium';
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.turmas-table, td, tr, th {
    border: 1px solid var(--header-gray);
    border-collapse: collapse;
}

.turmas-table-magenta {
    color: var(--magenta);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-family: 'Roboto';
    font-weight: 700;

}

.turmas-table-info {
    letter-spacing: 0.05rem;
    font-family: 'Roboto';
    font-weight: 500;
    color: var(--light-gray);
    font-size: 1.1rem;
    line-height: 1.6rem;
}



.table-subtitle {
    width: 95rem;
    margin: 0 auto;
    text-align: end;
    font-family: 'Roboto';
    font-weight: 500;
    color: var(--light-gray);
    font-size: 1.1rem;
    line-height: 1.6rem;
    border: 1px solid grey

}

#turmas-btn{
    margin: 0 auto;
}

footer {
    height: 20vh;
    
}